<div>
  <h2 id="page-heading" data-cy="BusinessPartnerHeading">
    <span jhiTranslate="brokingserviceApp.businessPartner.home.title">Business Partners</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="brokingserviceApp.businessPartner.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-business-partner"
        [routerLink]="['/business-partner/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="brokingserviceApp.businessPartner.home.createLabel">Create a new Business Partner</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (businessPartners?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="brokingserviceApp.businessPartner.home.notFound">No Business Partners found</span>
    </div>
  }

  @if (businessPartners && businessPartners.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="brokingserviceApp.businessPartner.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="brokingserviceApp.businessPartner.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="representativeName">
              <div class="d-flex">
                <span jhiTranslate="brokingserviceApp.businessPartner.representativeName">Representative Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="brokingserviceApp.businessPartner.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber">
              <div class="d-flex">
                <span jhiTranslate="brokingserviceApp.businessPartner.phoneNumber">Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="agentType">
              <div class="d-flex">
                <span jhiTranslate="brokingserviceApp.businessPartner.agentType">Agent Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (businessPartner of businessPartners; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/business-partner', businessPartner.id, 'view']">{{ businessPartner.id }}</a>
              </td>
              <td>{{ businessPartner.name }}</td>
              <td>{{ businessPartner.description }}</td>
              <td>{{ businessPartner.representativeName }}</td>
              <td>{{ businessPartner.email }}</td>
              <td>{{ businessPartner.phoneNumber }}</td>
              <td [jhiTranslate]="'brokingserviceApp.InsuranceAgentType.' + (businessPartner.agentType ?? 'null')">
                {{
                  { null: '', INSURED: 'INSURED', BROKER: 'BROKER', INSURER: 'INSURER', RE_INSURER: 'RE_INSURER' }[
                    businessPartner.agentType ?? 'null'
                  ]
                }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/business-partner', businessPartner.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/business-partner', businessPartner.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(businessPartner)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (businessPartners && businessPartners.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
